<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SITA</title>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('/ugb')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 class="text-center">Catatan Evaluasi UGB</h2>
                <br>

                <form th:action="@{'/ugb/addcatatan'}" th:object="${evaluasiUgbModel}" method="POST" enctype="multipart/form-data">
                    <!-- <input type="hidden" name="ugb" th:value="${evaluasiUgbModel.ugb}"> -->
                    <input type="hidden" th:field="*{ugb}">
                    Catatan Judul UGB <br>
                    <textarea required class="form-control" id="catatanJudul" name="catatanJudul"></textarea>
                    <br>

                    Nilai Judul UGB : <br>
                    <input required class="form-control" type="number" name="nilaiJudul" maxlength="3"/>
                    <br><br>

                    Catatan Latar Belakang <br>
                    <textarea required class="form-control" id="latarBelakang" name="latarBelakang"></textarea>
                    <br>

                    Nilai Latar Belakang : <br>
                    <input required class="form-control" type="number" name="nilaiLatarBelakang" maxlength="3"/>
                    <br><br>

                    Catatan Tujuan dan Manfaat <br>
                    <textarea required class="form-control" id="tujuanManfaat" name="tujuanManfaat"></textarea>
                    <br>

                    Nilai Tujuan dan Manfaat : <br>
                    <input required class="form-control" type="number" name="nilaiTujuanManfaat" maxlength="3"/>
                    <br><br>

                    Catatan Ruang Lingkup <br>
                    <textarea required class="form-control" id="ruangLingkup" name="ruangLingkup"></textarea>
                    <br>

                    Nilai Ruang Lingkup : <br>
                    <input required class="form-control" type="number" name="nilaiRuangLingkup" maxlength="3"/>
                    <br><br>

                    Catatan Keterbaruan <br>
                    <textarea required class="form-control" id="keterbaruan" name="keterbaruan"></textarea>
                    <br>

                    Nilai Keterbaruan : <br>
                    <input required class="form-control" type="number" name="nilaiKeterbaruan" maxlength="3"/>
                    <br><br>

                    Catatan Metodologi <br>
                    <textarea required class="form-control" id="metodologi" name="metodologi"></textarea>
                    <br>

                    Nilai Metodologi : <br>
                    <input required class="form-control" type="number" name="nilaiMetodologi" maxlength="3"/>
                    <br><br>

                    <br>
                    <button class="btn btn-primary float-right" type="submit" name="save">Submit</button>
                    <a class="btn btn-secondary" th:href="@{/ugb/viewall}">Kembali</a>
                    
                </form>
                
            </div>
        </div>
    </div>
</div>

</body>
</html>