<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <style>
        body {
            background-color: #e0e0e0;
        }
        .card-body{
            padding: 0;
        }
        .card-text.judul{
            padding-left: 40px;
            width: 50%;
        }
        .card-text{
            width: auto;
        }
        .table{
            margin-bottom: 0;
        }
        .card-header{
            color: rgb(78, 78, 78);
        }
    </style>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar (${'/profile'})"></nav>
    <div class="d-flex justify-content-center align-items-center">
        <div class="m-4">
            <div class="d-flex justify-content-center">
                <h2 class="mt-4" style="font-weight: bold;">Profil Mahasiswa</h2>
                <br><br><br><br>
            </div>
            <div class="d-flex justify-content-center">
                <div class="m-4">
                    <div id="cardProfile" class="card bg-light mb-3" style="width: 800px;">
                        <div class="card-header" style="font-weight: bold;">Tentang Mahasiswa</div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th class="card-text judul">Nama</th>
                                    <td class="card-text" th:text="${mahasiswa.nama}"></td>
                                </tr>
                                <tr>
                                    <th class="card-text judul">NIM</th>
                                    <td class="card-text" th:text="${mahasiswa.nim}"></td>
                                </tr>
                                <tr>
                                    <th class="card-text judul">Email</th>
                                    <td class="card-text" th:text="${pengguna.email}"></td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-header" style="font-weight: bold; border-top: 1px solid rgba(0,0,0,.1);">Riwayat Penyusunan TA</div>
                        <div class="card-body">
                            <table class="table">
                                <div th:if="${mahasiswa.tahap} != 'NEW'">
                                    <tr>
                                        <th class="card-text judul">Judul Tugas Akhir</th>
                                        <td class="card-text" th:text="${ugb.judulUgb}"></td>
                                    </tr>
                                    <tr>
                                        <th class="card-text judul">Dosen Pembimbing 1</th>
                                        <td class="card-text" th:text="${pembimbing1.nama}"></td>
                                    </tr>
                                    <tr>
                                        <th class="card-text judul">Dosen Pembimbing 2</th>
                                        <td class="card-text" th:text="${pembimbing2.nama}"></td>
                                    </tr>
                                </div>
                                <div th:if="${mahasiswa.tahap} != 'NEW' AND ${mahasiswa.tahap} != 'UGB'">
                                    <tr>
                                        <th class="card-text judul">Dosen Penguji 1</th>
                                        <td class="card-text" th:text="${penguji1.nama}"></td>
                                    </tr>
                                    <tr>
                                        <th class="card-text judul">Dosen Penguji 2</th>
                                        <td class="card-text" th:text="${penguji2.nama}"></td>
                                    </tr>
                                </div>
                            </table>
                        </div>
                        <div th:if="${mahasiswa.tahap} != 'NEW'" class="card-header" style="font-weight: bold; border-top: 1px solid rgba(0,0,0,.1);">UGB</div>
                        <div class="card-body">
                            <table class="table">
                                <div th:if="${mahasiswa.tahap} != 'NEW'">
                                    <tr>
                                        <th class="card-text judul">Status UGB</th>
                                        <td class="card-text" th:text="${ugb.statusUgb}"></td>
                                    </tr>
                                    <div th:if="${ugb.statusUgb} == 'LULUS'">
                                        <tr>
                                            <th class="card-text judul">Hasil UGB</th>
                                            <td class="card-text"><a class="btn btn-sm btn-primary" th:href="@{/ugb/catatan/} + ${ugb.idUgb}">Hasil Evaluasi</a> </td>
                                        </tr>
                                        <tr>
                                            <th  class="card-text judul">Tanggal Lulus UGB</th>
                                            <td id="tglLulusUgb" class="card-text" th:text="${#temporals.format(ugb.tanggalLulus, 'dd MMMM yyyy hh:mm a')}"></td> 
                                        </tr>
                                    </div>
                                </div>
                            </table>
                        </div>
                        <div th:if="${mahasiswa.tahap} != 'NEW' AND ${mahasiswa.tahap} != 'UGB'" class="card-header" style="font-weight: bold; border-top: 1px solid rgba(0,0,0,.1);">Seminar Proposal</div>
                        <div class="card-body">
                            <table class="table">
                                <div th:if="${mahasiswa.tahap} != 'NEW' AND ${mahasiswa.tahap} != 'UGB'">
                                    <tr>
                                        <th class="card-text judul">Status Seminar Proposal</th>
                                        <td class="card-text" th:text="${sempro.statusSeminarProposal}"></td>
                                    </tr>
                                    <tr>
                                        <th class="card-text judul">Nilai Seminar Proposal</th>
                                        <td class="card-text" th:text="${sempro.nilai}"></td>
                                    </tr>
                                    <tr>
                                        <th  class="card-text judul">Tanggal Lulus Seminar Proposal</th>
                                        <td id="tglLulusSempro" class="card-text" th:text="${#temporals.format(sempro.tanggalLulus, 'dd MMMM yyyy hh:mm a')}"></td> 
                                    </tr>
                                </div>        
                            </table>
                        </div>
                        <div th:if="${mahasiswa.tahap} == 'SEMHAS' OR ${mahasiswa.tahap} == 'TUGASAKHIR'" class="card-header" style="font-weight: bold; border-top: 1px solid rgba(0,0,0,.1);">Seminar Hasil</div>
                        <div class="card-body">
                            <table class="table">
                                <div th:if="${mahasiswa.tahap} == 'SEMHAS' OR ${mahasiswa.tahap} == 'TUGASAKHIR'">
                                    <tr>
                                        <th class="card-text judul">Status Seminar Hasil</th>
                                        <td class="card-text" th:text="${semhas.statusSemhas}"></td>
                                    </tr>
                                    <tr>
                                        <th class="card-text judul">Nilai Seminar Hasil</th>
                                        <td class="card-text" th:text="${semhas.nilai}"></td>
                                    </tr>
                                    <tr>
                                        <th  class="card-text judul">Tanggal Lulus Seminar Hasil</th>
                                        <td id="tglLulusSemhas" class="card-text" th:text="${#temporals.format(semhas.tanggalLulus, 'dd MMMM yyyy hh:mm a')}"></td> 
                                    </tr>
                                </div>        
                            </table>
                        </div>
                        <div th:if="${mahasiswa.tahap} == 'TUGASAKHIR'" class="card-header" style="font-weight: bold; border-top: 1px solid rgba(0,0,0,.1);">Sidang</div>
                        <div class="card-body">
                            <table class="table">
                                <div th:if="${mahasiswa.tahap} == 'TUGASAKHIR'">
                                    <tr>
                                        <th class="card-text judul">Status Sidang</th>
                                        <td class="card-text" th:text="${tugas_akhir.statusTugasAkhir}"></td>
                                    </tr>
                                    <tr>
                                        <th class="card-text judul">Nilai Sidang</th>
                                        <td class="card-text" th:text="${tugas_akhir.nilai}"></td>
                                    </tr>
                                    <tr>
                                        <th  class="card-text judul">Tanggal Lulus Sidang</th>
                                        <td id="tglLulusSidang" class="card-text" th:text="${#temporals.format(tugas_akhir.tanggalLulus, 'dd MMMM yyyy hh:mm a')}"></td> 
                                    </tr>
                                </div>
                            </table>
                        </div>
                    </div>
                </divclass>
                
            </div>
        </div>
    </div>
</body>
</html>
<script>

</script>




